@import 'normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap');
@import 'styleFontBebas.scss';



body {
    font-weight: 400;
    font-family: 'Roboto, sans-serif'
} 

.header {
    background-color: #635854;
    padding: 12px 0;
    border-bottom: 4px solid #3596F5;
}
.navbar{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;    
    text-align: center;
}

.navbar-item {
    margin: 0 40px;
}

.navbar-link {
    color: #fff;
    line-height: 19px;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    color: #fff;
    margin: 0 0 4px 0;
    display: block;
    font-size: 14px;
    line-height: 16px;
}

.navbar-tel {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 54px 0 0 0;
    display: flex;
}

.home-image path {
    opacity: 0;
}

.home-image path:hover {
    opacity: 1;
    cursor: pointer;
}

.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

.counter-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button{
    background-color: #fff;
}

.counter{
    font-size: 124px;
    font-family: 'Bebas Neue';
    color: #635854;
    margin: 10px 0;
    font-weight: 400;
    cursor: pointer;
}

.main-title{
    font-family: 'Bebas Neue';
    font-size: 37px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #635854;
    
}

.button-primary{
    background-color: #3596F5;
    border-radius: 6px;
    padding: 16px 36px;
    color: #fff;
    cursor: pointer;
}